

.color1{
	background:#e0afa0 ;
}

.color2{
	background:#6a994e ;
}

.color3{
	background:#d81159 ;
}

.color4{
	background: #f7b801;
}

.color5{
	background: #7678ed;
}

.rowMargen{
	margin-bottom: 15px;
}

.container{
	background: #ced4da;
	padding: 30px;
}