@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Boogaloo&family=Fredoka+One&family=Fugaz+One&family=Istok+Web&family=Kanit:wght@100&family=Open+Sans:ital@0;1&family=Staatliches&family=Tiro+Tamil&display=swap');
.col img{
	width: 16%;
}

header{
	background: #000;
}
.bgNav{
	background: #00171F;
	color: #fff;
	border-right: 10px solid #ced4da;
}

ul li{
	list-style: none;
}

ul li a{
	font-family: 'Tiro Tamil', serif;
	text-decoration: none;
	color: #fff;
}

.row li{
	padding-bottom: 40px;

}

ul li a:hover{
	color: #d90429;
}

ul{
	padding-left:  10px;
	display:  inline;
}

header col{
	color: #dc2f02;

}

header a{
	color: #dc2f02;
	text-decoration: none;
	font-weight: bold;
}

h4{
	text-align:  center;
	padding: 15px 0;
	color: #fff;
	font-weight: bold;
}

.negro{
	color: #000;
}

.aligC{
	text-align: center;
	font-size: 1.8vw;
}

.container{
	width:70%;
}

footer{
    background: #000;
    text-align: center;
    color: #CAF0F8;
    padding: 20px 0;
    box-shadow: 10px 0 10px #00171F;

} 

.rol img{
	 width: 40%;
    border-radius: 45%;
    border: 4px solid #fff;

}

.rol h4{
    color:#CAF0F8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.rol{
   margin-top: 20px;
}

.rol> h5{
    color:#CAF0F8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: bold;

}




