body {
	height:665px;
	background-image: url(../img/05.jpg);
	background-size: 120%;
}

.Horario {
	width: 400px;
	background: #0D1B2A;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 3%;
	border-radius: 4px;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;

}


.controls {
	width: 100%;

	padding: 3px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #0D1B2A;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;

}

.botons {
	width: 100%;
	background: #023E8A;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;

}