{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio De Sesion</title> 
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
  <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
  

</head>  
<body>

   <div style="text-align: center;"><img src="{% static 'images/logo.jpg' %}"></div>
    <form method="post" class="formulario">
      {% csrf_token %}
    <h1>Iniciar Sesion</h1>
     <div class="contenedor">
     
     
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <label for="username"></label>
         <input type="text" placeholder="Usuario" name="username" required="Completa este campo">
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
        <label for="password"></label>
       <input type="password" placeholder="Contraseña" name="password" class="passw" id="Input">
        <img src="{% static 'images/Show.png' %}" alt="" class="icon2" id="Eye">
       </div>

         <input type="submit" value="Login" class="button" href="Login.html"> 
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿No tienes una cuenta? <a class="link" href="{% url 'registro' %}">Registrate </a></p>
         <p>Ingrese como administrador <a class="link" href="{% url 'admin:index' %}">Admin </a></p>
     </div>
    </form>

    <script src="{% static 'js/contraseña.js' %}"></script>
</body>
</html>